body{
    border: none;
    margin: 0;
    overflow: hidden;
    min-width: 1000px;
    min-height: 500px;
    display: flex;
    flex-wrap: wrap;
    min-width: 800px;
    min-height: 600px;

}

#Backgrd1_cont{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: left;
    overflow: hidden;
    z-index: 0;

}

#Red_Square{
    width: 70%;
    height: 100%;
    background-color: #BE0000;
    z-index: 0;

}
#ZION_CINDER_CONE{
    background: linear-gradient(to bottom, #707271 55%, black 90%);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 20%;
    border-radius: 30px 30px 0 0; /* 20px radius on all corners */

} 
U{
    width: 0px;
    height: 120px;
}
#U-cont{
    position: absolute;
    top: -30px;
    right: 0%;
    z-index: 1;
   
}

#title{
    position: absolute;
    font-size: 70px;
    font-style: italic;
    font-weight: 400px;
    left: 4%;
}

.projectCont{
    position: absolute;
    top: 10%;
    width: 60vw;
    left: 6%;
    display: flex;
    margin-top: 6px;
    margin-left: 3px;
    flex-direction: column;
    flex-wrap: wrap;
}

.date{
    margin-left: 250px;
}

.projectLink{
    font-style: underline, italic;
    margin-top: 60px;
    width: 12vw;
    margin-bottom: 5px;
    font-size: 28px;
}

a{
    text-decoration: none;
    color:black;
}

.projectLink:hover{
    background-color: #707271;
}

a:active{
    color: white;
}

.caption{
    margin-top: -5px;
    margin-left: 20px;
}

.description{
    margin-top: -2px;
    margin-left: 20px;
    font-weight: normal;
    margin-bottom: -10px;

}

#projectImg{
    width: 28vw;
    height: 35vh;
    position: absolute;
    right: 1vw;
    top: 250px;
}

#socialMedia_cont{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 65%;
    height: 20%;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}

#facebook{
    width: 180px;
    height: 180px;
}

#linkedin{
    width: 150px;
    height: 150px;
    margin-top: 20px;
}

#instagram{
    width: 180px;
    height: 180px;
}

#GPT{
    position: absolute;
    top: 10vh;
    right: 27vw;
    width: 15vw;
    height: 15vh;
}

.date{
    font-weight: 500;
}

#info{
    position: absolute;
    bottom: 0;
    left: 50;
}

#website{
    width: 130px;
    height: 130px;
    position: absolute;
    top: 32vh;
    right: 31vw;
}